body {
    margin: 0;
    line-height: 1.6;
    scrollbar-width: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #8a211a;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    }

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slides img {
  width: 100%; 
  max-width: 1920px;
  height: auto;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ; 
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.slides {
  position: relative;
  width: 1920px; 
  height: 700px; 
  overflow: hidden;
}

.slides button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
}

#anterior { left: 10px; }
#proximo { right: 10px; }

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background: linear-gradient(to bottom, #8a211a, #590f0e);
}

.container1 span {
    color: #fff;
    font-weight: bold;
    font-size: 80px;
    padding-left: 60px;
}

.container1 .texto {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 60px;
    font-size: 25px;
    color: #fff;
    text-align: justify;
}

.container2 {
    display: flex;
    flex-direction: column;
    height: 700px;
    transition: background 1s linear;
    position: relative;
}

.container2 button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
}


.container2 h1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 45px;
  color: #fff;
}

.container2 .card,.texto_card, .texto {
  transition: opacity 0.5s ease-in-out;
}

.container2 .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin-left: 60px;
  position: relative;
}


.container2 .texto {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-right: 60px;
    font-size: 25px;
    color: #fff;
    text-align: justify;
}

.personagens-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "card texto_card";
  gap: 100px;
}

.card { grid-area: card; }
.texto_card { grid-area: texto_card; }

#anteriorPersonagem, 
#proximoPersonagem {
  position: absolute;
  top: 68px
}

#anteriorPersonagem {
  left: 450px;
}

#proximoPersonagem {
  right: 450px;
}



.container3 {
  position: relative;    
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background: black;
}

.container3 .Livros {
  position: absolute;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imagens/sokka.gif');
  background-size: cover;
  background-position: center;
  filter: brightness(50%);     
  z-index: 1;                 
  transition: opacity 0.5s ease-in-out;
}

.container3 button {
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.5s ease-in-out;
}


.container3 .botoesLivros {
  position: absolute; 
  top: 20px;                
  font-size: 45px;
  color: #fff;
  text-align: center;
  z-index: 2;        
}

.container3 .textoAgua {
  position: relative;      
  font-size: 30px;
  padding-left: 60px;
  padding-right: 60px;
  color: #fff;
  text-align: justify;
  z-index: 2;          
    transition: opacity 0.5s ease-in-out;
}

.agua, .terra, .fogo {
  position: relative;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.agua::after, .terra::after, .fogo::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 3px;
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.agua::after { background-color: #00bfff; }   /* azul claro */
.terra::after { background-color: #3cb371; }  /* verde */
.fogo::after { background-color: #ff4500; }   /* vermelho */

.agua:hover { color: #00bfff; }
.terra:hover { color: #3cb371; }
.fogo:hover { color: #ff4500; }

.agua:hover::after,
.terra:hover::after,
.fogo:hover::after {
  width: 100%;
}

