html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background: rgba(31, 26, 26, 0.67);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}


main {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 260px;
  background: linear-gradient(to bottom, #1b2d6a, #0f1b3d);
  padding: 20px 0 20px 20px; 
  border-right: 2px solid #333;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

select {
  display: block;
  margin-top: 80px;
}

.sidebar select {
  width: 180px;
  padding: 1px 12px;
  font-size: 16px;

  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}

.sidebar select option {
  color: black;
}

#listaCenas {
  margin-top: 20px;
  flex: 1;
  overflow-y: auto;
  padding-right: 20px;
}

#listaCenas::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.05);
}

#listaCenas::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff7b00, #ff4500); 
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

#listaCenas::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff9b40, #ff6530);
}


.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cena-item {
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease, filter 0.3s;
}

.cena-item:last-child {
    margin-bottom: 50px; /* ou o valor que você quiser */
}

.cena-item:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.cena-item img {
  width: 100%;
  border-radius: 8px;
  height: 100px;
  object-fit: cover;
}

.Cenas-Livro1 {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  background-color: black;
}

.cena1 {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

.textoCena {
  position: absolute;
  top: 56%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 18px;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
 background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #417288,#1b2d6a, #2d2d2d, #590f0e); 
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom,  #4f839b,#29418f, #696969, #831917);
}