
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background: rgba(31, 26, 26, 0.67);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }


nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
}


nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.slider-box {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 300px; /* altura do slider */
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.slider-box .slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.1);
}

.slider-box .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: opacity 1s ease-in-out;
}

.slider-box .side-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slider-box .side-image.left {
  left: -28%;
}

.slider-box .side-image.right {
  right: -28%;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background: linear-gradient(to bottom, #8a211a, #590f0e);
}


.container1 span {
    color: #fff;
    font-weight: bold;
    font-size: 80px;
    padding-left: 60px;
}

.container1 .texto {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 60px;
    font-size: 25px;
    color: #fff;
    text-align: justify;
}

.container2 {
    display: flex;
    flex-direction: column;
    height: 700px;
    transition: background 1s linear;
    position: relative;
}

.container2 button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
}


.container2 h1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 45px;
  color: #fff;
}

.container2 .card,.texto_card, .texto {
  transition: opacity 0.5s ease-in-out;
}

.container2 .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin-left: 60px;
  position: relative;
}


.container2 .texto {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-right: 60px;
    font-size: 25px;
    color: #fff;
    text-align: justify;
}

.personagens-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "card texto_card";
  gap: 100px;
}

.card { grid-area: card; }
.texto_card { grid-area: texto_card; }


#anteriorPersonagem:hover, 
#proximoPersonagem:hover {
  background: rgba(0, 0, 0, 0.8);
}

#anteriorPersonagem {
  left: 27%;
  top: 9.5%;
}

#proximoPersonagem {
  right: 27%;
  top: 9.5%;
}


.container3 {
  position: relative;    
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background: black;
}

.container3 .Livros {
  position: absolute;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imagens/sokka.gif');
  background-size: cover;
  background-position: center;
  filter: brightness(50%);     
  z-index: 1;                 
  transition: opacity 0.5s ease-in-out;
}

.container3 button {
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}


.container3 .botoesLivros {
  position: absolute; 
  top: 20px;                
  text-align: center;
  z-index: 2;        
}

.container3 .textoAgua {
  position: relative;      
  font-size: 30px;
  padding-left: 60px;
  padding-right: 60px;
  color: #fff;
  text-align: justify;
  z-index: 2;          
    transition: opacity 0.5s ease-in-out;
}

.agua, .terra, .fogo {
  position: relative;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.agua::after, .terra::after, .fogo::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 3px;
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.agua::after { background-color: #00bfff; }   /* azul claro */
.terra::after { background-color: #3cb371; }  /* verde */
.fogo::after { background-color: #ff4500; }   /* vermelho */

.agua:hover { color: #00bfff; }
.terra:hover { color: #3cb371; }
.fogo:hover { color: #ff4500; }

.agua:hover::after,
.terra:hover::after,
.fogo:hover::after {
  width: 100%;
}

.cenas{
  position: absolute; 
  bottom: 20px;                
  font-size: 45px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 2;
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(to bottom, rgba(138, 33, 26, 0.5), rgba(89, 15, 14, 0.5));
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
 background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: #333; 

}