body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;              /* sidebar + main lado a lado */
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: linear-gradient(to bottom, #1b2d6a, #0f1b3d);
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;
}

      #div_tabela {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        gap: 10px;
      }

      .carta {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        background-image: url(../assets/imgs/jogodamemoria/cartaabaixada.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .carta img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .par-encontrado {
        opacity: 0.7;
      }