body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex; 
}

.sidebar {
    width: 260px;
    background: linear-gradient(to bottom, #7c7d83, #222323);
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;
    background-color: #020617;
}

h1 {
    color: #fff;
    font-size: 50px;
    background-color: #0000003d;
    border-radius: 16PX;
}

#divInicio p {
    font-size: 25px;
}

#containerQuiz {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 16px;
  box-sizing: border-box;
  background:
    radial-gradient(circle at 10% 10%, rgba(59, 130, 246, 0.15), transparent 55%),
    radial-gradient(circle at 90% 80%, rgba(239, 68, 68, 0.18), transparent 55%),
    radial-gradient(circle at 15% 80%, rgba(34, 197, 94, 0.16), transparent 55%),
    radial-gradient(circle at 85% 15%, rgba(250, 204, 21, 0.18), transparent 55%),
    #050816;
  color: #f9fafb;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;       
  text-align: center;
}

#containerQuiz h2 {
    text-align: center;
    margin-bottom: 16px;
}

#containerQuiz .pergunta {
    margin-bottom: 12px;
    font-weight: 600;
}

#containerQuiz .alternativa {
    margin-bottom: 8px;
    cursor: pointer;
    background-color: #a6a5a52a;
    height: 35px;
    display: flex;
    align-items: center;     
    justify-content: center;  
    gap: 8px;      
    width: 100%;
    border-radius: 12px;       
    color: #fff;
}
     
#containerQuiz #botoes {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#containerQuiz button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
     
#containerQuiz #resultadoFinal {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
}

.oculto {
    display: none;
}

#labelOpcaoUm, #labelOpcaoDois, #labelOpcaoTres, #labelOpcaoQuatro {
display: flex;
flex-direction: row;
text-align: center;
justify-self: center;
font-size: 20px
}


#primeiraOpcao,
#segundaOpcao,
#terceiraOpcao,
#quartaOpcao {
  display: flex;
  flex-direction: row;
  justify-content: center; /* centraliza na horizontal */
  align-items: center;     /* centraliza na vertical */
}