body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 260px;
    background: linear-gradient(to bottom, #1b2d6a, #0f1b3d);
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #333;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

main {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url(../assets/imgs/4elementos.webp);
    background-size: cover;
    flex-direction: column;
}


.sidebar ul {
    list-style: none;

}
.sidebar nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

h1 {
    color: #6c3c0c;
    font-size: 50px;
    background-color: aliceblue;
    border-radius: 16PX;
}

#divInicio p {
    font-size: 25px;
}
#containerQuiz {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: center;
    background-color: beige;
}

#containerQuiz h2 {
    text-align: center;
    margin-bottom: 16px;
}

#containerQuiz .pergunta {
    margin-bottom: 12px;
    font-weight: 600;
}

#containerQuiz .alternativa {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
     
#containerQuiz #botoes {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#containerQuiz button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
     
#containerQuiz #resultadoFinal {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
}

.oculto {
    display: none;
}