body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}

header {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #000  ;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

main {
  flex: 1;
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar {
  width: 260px;
  background: linear-gradient(to bottom, #1b2d6a, #0f1b3d);
  padding: 20px;
  overflow-y: auto;
  border-right: 2px solid #333;
  z-index: 10;
  position: relative;
}

select {
  display: block;
  margin: 0 auto; 
}

.sidebar select {
  width: 180px;
  padding: 8px 12px;
  font-size: 16px;

  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}
.sidebar select option {
  color: black;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cena-item {
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease, filter 0.3s;
}

.cena-item:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.cena-item img {
  width: 100%;
  border-radius: 8px;
  height: 100px;
  object-fit: cover;
}

.Cenas-Livro1 {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  background-color: black;
}

.cena1 {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2; 
}

.textoCena {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 20px;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  margin: 0;
}

